<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/styles_index.css" media="screen" />

    <title> HSO TECNOLOGIA EM SISTEMAS </title>
</head>

<body>

    <h1> HSO TECNOLOGIA EM SISTEMAS </h1>
    <H2> ESCOLHA A OPÇÃO DESEJADA: </H2>

    <form >
        <div class="container">

            <div class="botão abrir">

                <button id="botao abrir pagina index" href="/abrir_ordem_de_servico" type="submit">
                    <a id="texto botao abrir pagina index" href="/abrir_ordem_de_servico"> ABRIR ORDEM DE SERVIÇO
                    </a>
                </button>


            </div>
            <div class="botão fechar">

                <button id="botao fechar pagina index" type="submit">
                    <a id="texto botao fechar pagina index" href="/fechar_ordem_de_servico"> FECHAR ORDEM DE
                        SERVIÇO </a>
                </button>

            </div>
            <div class="lista de manutencao">

                <button id="botao lista de manutencao"  type="submit">
                    <a id="texto botao lista de manutencao" href="/em_manutencao"> EM MANUTENÇÃO </a>
                </button>

            </div>



            <div class="servicos finalizados">

                <button id="botao servicos finalizados" type="submit">
                    <a id="texto servicos finalizados" href="/servicos_finalizados"> SERVIÇOS FINALIZADOS </a>
                </button>

            </div>

            <div class="consultar historico de manutencao">

                <button id="botao historico de manutencao" type="submit">
                    <a id="texto botao historico de manutencao" href="/consultar_no_historico_de_manutencao">
                        CONSULTAR HISTORICO DE
                        MANUTENÇÃO </a>
                </button>

            </div>

            <div class="consultar certificado">

                <button id="botao consultar certificado" type="submit">
                    <a id="texto botao consultar certificado"
                        href="https://cronotacografo.rbmlq.gov.br/certificados/consultar">
                        CONSULTAR CERTIFICADO INMETRO </a>
                </button>

            </div>

        </div>
    </form>
</body>

</html>